* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}


header{
  background-color: #0e546d;
  font-family: sans-serif;
  position: relative;
}

header p{
  color: #f6a928;
  font-size: 15px;
}

header p a{
  color: #f6a928;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 300vh;
}

.back-img {
  width: 100%;
  height: 100vh;
  background-image: url('https://leapstart.in/uploads/banner.webp');
  background-size: cover;
  background-position: center;
  margin-top:-145px;
}

.card {
  margin-top:-145px;
  z-index: -1;
  overflow-x: hidden;
}

.dropdown-head-leap{
  color: #f6a928;
}

.nav-item a {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat";
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
  padding-bottom: 5px;
}

.nav-item a:hover{
  color: #ffffff;
  text-decoration: none;
}

.navbar-nav a:active {
  color: #ffffff;
}

.navbar-nav li {
  position: relative;
}

.navbar-nav li::before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 0;
  height: 1.5px;
  background-color: #000000;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.navbar-nav li:hover::before {
  width: 85%;
}

.banner-texta{
  padding-top: 250px;
  font-family: "Montserrat";
}

.banner-texta h3 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
}

.banner-texta h5 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: -0.04rem;
}

.banner-texta p {
  font-size: 20px;
  color: #0e546d;
  font-weight: 500;
  line-height: 28px;
}

.current a{
  color: #ffffff;
}

.current a::before{
  content: '';
  position: absolute;
  bottom: 5px;
  left: 4px;
  width: 85%;
  height: 1.5px;
  background-color: #000000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner-btn {
  background-color: #0e546d;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  border-left: 8px solid #115e7a;
  transition: all 0.3s ease,border-left 0s;
  margin-top: 72px;
}

.banner-btn:hover {
  background: linear-gradient(90deg, #2fb4e4 0%,  hsla(38, 92%, 65%, 1) 99%);
  color: #ffffff;
  border-left: 8px solid #2fb4e4;
}

@media (max-width: 992px) {
  nav{
    visibility: hidden;
    display: none;
  }

  nav ul{
    display: none;
  }
}

@media (max-width: 768px) {
  .banner-texta {
    padding-top: 150px;
  }
  
  .banner-texta h3 {
    font-size: 24px;
  }
  
  .banner-texta h5 {
    font-size: 16px;
  }
}
